@media (min-width: 768px) {
    .container {
        padding: 15px;
    }
    .header {
        font-size: 20px;
    }
    .description {
        font-size: 14px;
    }
    .project-link {
        flex-direction: column;
        align-items: flex-start;
    }
    .arrow {
        margin-top: 10px;
        font-size: 18px;
    }
}
@media (min-width: 480px){
    .header h1{
        font-size: 18px;
    }
    .description {
        font-size: 12px;
    }
    .project-title {
        font-size: 16px;
    }
    .project-description {
        font-size: 12px;
    }
    .arrow {
        font-size: 16px;
    }
}